:root{
    --color1: #FBBC01;

     }
     *{
        padding:0;
        margin:0;
        box-sizing: border-box;
        font-family: 'Baloo Chettan 2',cursive;
     }
     a{
        text-decoration: none;
     }
     header{
        width: 100% ;
        height: 100vh;
        background:url(images/thumb1-1200x676-28.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
     }
     header::before{
        position:absolute;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        

     }
     header input{
        width:50px;
        height: 50px;
        position: absolute;
        top:12px;
        left: 12px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        position: fixed;

     }
     header input:checked ~ .menu-icon .menu-line::before{
        transform: rotate(90deg);
        top:0;
     }
     header input:checked ~ .menu-icon .menu-line::after{
        transform: rotate(90deg);
        top:0;
     }
     header input:checked ~ .menu-icon .menu-line{
        transform: rotate(135deg);
        transition: 0.3s;
     }
     header input:checked ~ .menu-item{
        right: 0;
     }
     .menu-icon{
        width:50px;
        height: 50px;
        position: absolute;
        top:12px;
        left: 12px;
        opacity: 1;
        z-index: 1;
        cursor: pointer;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center ;
       
     }
     .menu-line{
        height: 4px;
        width: 100%
        ;
        background: red;
        position: relative;
     }
     .menu-line::before{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: red;
        top:-14px;
     }
     .menu-line::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: red;
        top:14px;
     }
     .menu-item{
        position: fixed;
        width: 300px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top:0;
        
        right: -100%;
        display: flex;
        justify-content:center;
        text-align: center  ;
        z-index: 10;
        flex-direction: column;
        transition: 0.5s;

     }
     .menu-item li{
        line-height: 40px;
     }
     .menu-item li a{
        color: red;
     }

.header-text{
    position: absolute;
}
.header-text h1{
    font-size: 50px;
    color: red;
    margin-bottom: 20px;
}
.header-text a{
    padding:15px 40px;
    background: rgb(185, 110, 110);
    color: black;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0.5;
    animation:headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 0.3s;

}
.header-text a:hover{
    color: red;
    background: transparent;
    border:2px solid red;
}
@keyframes headerAnimation{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}
.product_list ul
{
   text-decoration: none;
   list-style: none;
}
.product_list li
{
   text-decoration: none;
   list-style: none;
}
.product_list a
{
   text-decoration: none;
   list-style: none;
}
footer{
  height: 250px;
   width: 100%;
   position: absolute  ;
   bottom: 0;
   background: linear-gradient(to right, #00093c, #2d0b00);
   color: #fff;
   padding :100px 0 30px;
   border-top-left-radius: 125px;
   font-size:13px;
   line-height: 20px;
}
footer .logo{
   left: -10px;;
}